<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <div class="row">
        <div class="col">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <app-header></app-header>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-tab-group [selectedIndex]="selecionado"
              (selectedIndexChange)="selecionado = $event">
                <mat-tab label="Marca/Modelo">
                  <app-marca-modelo (proximoClicado)="proximoClicado($event)"></app-marca-modelo>
                </mat-tab>
                <mat-tab label="Valores">
                  <app-valores (cotacaoSelecionada)="cotacaoSelecionada($event)" [cotacoes]="cotacoes"></app-valores>
                </mat-tab>
                <mat-tab label="Meu Plano">
                  <app-meu-plano [cotacao]="cotacaoVigente"></app-meu-plano>
                </mat-tab>
              </mat-tab-group>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
